@import "./../../../appcssvars.scss";

:host {
    display: grid;
    height: 100%;
    grid-template: auto auto 1fr auto / 1fr;

    margin: 0px;
    padding: 0px;
    border: none;

    > div#banner {
        position:relative;
        background-color: $alt_background;
        color: $alt_foreground;
        height: 65px;

        display: grid;
        align-items: center;

        padding-left:10px;
        #appTitle{
            position: absolute;
            z-index: 1;
            top: calc(100% - 20px);
            left: 120px;
            font-size: 0.8em;
        }
    }

    > div#menubar {
        background-color: $alt_background_menu;
        color: $alt_foreground_menu;
        height: 45px;

        display: flex;
        align-items: center;
        // padding-left:10px;
        padding-right:10px;

        i{
            margin-right:8px;
            margin-left:10px;
            cursor: default;
        }
        i.right{
            margin-left:auto;
        }
        > span{
            cursor: pointer;
        }
    }

    > div#details {
        overflow: auto;
    }
    > div#footer {
        display: flex;
        align-items: center;
        background-color: $alt_background;
        color: $alt_foreground;

        height:25px;
        span{
            font-size: 0.85em;
            margin:auto;
        }
    }
}
